In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from datetime import datetime
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Paola\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
# Se ubica la ruta del archivo "steam_games" y se convierte en un dataframe
ruta_archivo = "../Datacsv/steam_games.csv"
steam_games  = pd.read_csv(ruta_archivo)

In [3]:
steam_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,Kotoshiro,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"Strategy, Action, Indie, Casual, Simulation",http://steamcommunity.com/app/761140/reviews/?...,Single-player,4.99,0.0,761140.0,Kotoshiro
1,"Making Fun, Inc.","Free to Play, Indie, RPG, Strategy",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"Free to Play, Strategy, Indie, RPG, Card Game,...",http://steamcommunity.com/app/643980/reviews/?...,"Single-player, Multi-player, Online Multi-Play...",Free To Play,0.0,643980.0,Secret Level SRL
2,Poolians.com,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"Free to Play, Simulation, Sports, Casual, Indi...",http://steamcommunity.com/app/670290/reviews/?...,"Single-player, Multi-player, Online Multi-Play...",Free to Play,0.0,670290.0,Poolians.com
3,彼岸领域,"Action, Adventure, Casual",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"Action, Adventure, Casual",http://steamcommunity.com/app/767400/reviews/?...,Single-player,0.99,0.0,767400.0,彼岸领域
4,NaN,NaN,Log Challenge,NaN,http://store.steampowered.com/app/773570/Log_C...,NaN,"Action, Indie, Casual, Sports",http://steamcommunity.com/app/773570/reviews/?...,"Single-player, Full controller support, HTC Vi...",2.99,0.0,773570.0,NaN

In [4]:
# Se verifica las columnas
print(steam_games.columns)

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [5]:
# Se elimina las columnas que no son relevantes
steam_games_1 = steam_games.drop(columns=['title', 'url', 'reviews_url', 'price', 'early_access', 'publisher', 'specs', 'developer'])

In [6]:
# Se verfica el DF
steam_games_1

,genres,app_name,release_date,tags,id
0,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,2018-01-04,"Strategy, Action, Indie, Casual, Simulation",761140.0
1,"Free to Play, Indie, RPG, Strategy",Ironbound,2018-01-04,"Free to Play, Strategy, Indie, RPG, Card Game,...",643980.0
2,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool 3D - Poolians,2017-07-24,"Free to Play, Simulation, Sports, Casual, Indi...",670290.0
3,"Action, Adventure, Casual",弹炸人2222,2017-12-07,"Action, Adventure, Casual",767400.0
4,NaN,Log Challenge,NaN,"Action, Indie, Casual, Sports",773570.0
...,...,...,...,...,...
32130,"Casual, Indie, Simulation, Strategy",Colony On Mars,2018-01-04,"Strategy, Indie, Casual, Simulation",773640.0
32131,"Casual, Indie, Strategy",LOGistICAL: South Africa,2018-01-04,"Strategy, Indie, Casual",733530.0
32132,"Indie, Racing, Simulation",Russian Roads,2018-01-04,"Indie, Simulation, Racing",610660.0
32133,"Casual, Indie",EXIT 2 - Directions,2017-09-02,"Indie, Casual, Puzzle, Singleplayer, Atmospher...",658870.0
32134,NaN,Maze Run VR,NaN,"Early Access, Adventure, Indie, Action, Simula...",681550.0

In [7]:
# Se verfica los tipos de datos
steam_games_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28852 non-null  object
 1   app_name      32133 non-null  object
 2   release_date  30068 non-null  object
 3   tags          31972 non-null  object
 4   id            32133 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.2+ MB

In [8]:
# Se cambio los nulos por 0
steam_games_1['id'] = steam_games_1['id'].fillna(0)

# Se convierte de Float a Int
steam_games_1['id'] = steam_games_1['id'].astype(int)

In [9]:
steam_games_1.head()

,genres,app_name,release_date,tags,id
0,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,2018-01-04,"Strategy, Action, Indie, Casual, Simulation",761140
1,"Free to Play, Indie, RPG, Strategy",Ironbound,2018-01-04,"Free to Play, Strategy, Indie, RPG, Card Game,...",643980
2,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool 3D - Poolians,2017-07-24,"Free to Play, Simulation, Sports, Casual, Indi...",670290
3,"Action, Adventure, Casual",弹炸人2222,2017-12-07,"Action, Adventure, Casual",767400
4,NaN,Log Challenge,NaN,"Action, Indie, Casual, Sports",773570

In [10]:
# Cambiar el nombre de las columnas
steam_games_1.rename(columns={'genres': 'Genres', 'app_name': 'App_name', 'release_date': 'Release_date', 'tags': 'Tags', 'id': 'Id'}, inplace=True)

# Reordenar las columnas
steam_games_1 = steam_games_1[['Id', 'App_name', 'Release_date', 'Genres', 'Tags']]

In [11]:
# Se verifica el DF
steam_games_1.head()

,Id,App_name,Release_date,Genres,Tags
0,761140,Lost Summoner Kitty,2018-01-04,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation"
1,643980,Ironbound,2018-01-04,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,..."
2,670290,Real Pool 3D - Poolians,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi..."
3,767400,弹炸人2222,2017-12-07,"Action, Adventure, Casual","Action, Adventure, Casual"
4,773570,Log Challenge,NaN,NaN,"Action, Indie, Casual, Sports"

In [12]:
# Si en caso faltaran valores en la columna 'Genres' que se complete con los valotes de la columna 'Tags'
steam_games_1.loc[steam_games_1['Genres'].isnull(), 'Genres'] = steam_games_1['Tags']

In [13]:
steam_games_1

,Id,App_name,Release_date,Genres,Tags
0,761140,Lost Summoner Kitty,2018-01-04,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation"
1,643980,Ironbound,2018-01-04,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,..."
2,670290,Real Pool 3D - Poolians,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi..."
3,767400,弹炸人2222,2017-12-07,"Action, Adventure, Casual","Action, Adventure, Casual"
4,773570,Log Challenge,NaN,"Action, Indie, Casual, Sports","Action, Indie, Casual, Sports"
...,...,...,...,...,...
32130,773640,Colony On Mars,2018-01-04,"Casual, Indie, Simulation, Strategy","Strategy, Indie, Casual, Simulation"
32131,733530,LOGistICAL: South Africa,2018-01-04,"Casual, Indie, Strategy","Strategy, Indie, Casual"
32132,610660,Russian Roads,2018-01-04,"Indie, Racing, Simulation","Indie, Simulation, Racing"
32133,658870,EXIT 2 - Directions,2017-09-02,"Casual, Indie","Indie, Casual, Puzzle, Singleplayer, Atmospher..."
32134,681550,Maze Run VR,NaN,"Early Access, Adventure, Indie, Action, Simula...","Early Access, Adventure, Indie, Action, Simula..."

In [14]:
# Eliminar la columna 'Tags'
steam_games_1 = steam_games_1.drop(columns=['Tags'])

In [15]:
# Se verifica el DF
steam_games_1

,Id,App_name,Release_date,Genres
0,761140,Lost Summoner Kitty,2018-01-04,"Action, Casual, Indie, Simulation, Strategy"
1,643980,Ironbound,2018-01-04,"Free to Play, Indie, RPG, Strategy"
2,670290,Real Pool 3D - Poolians,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports"
3,767400,弹炸人2222,2017-12-07,"Action, Adventure, Casual"
4,773570,Log Challenge,NaN,"Action, Indie, Casual, Sports"
...,...,...,...,...
32130,773640,Colony On Mars,2018-01-04,"Casual, Indie, Simulation, Strategy"
32131,733530,LOGistICAL: South Africa,2018-01-04,"Casual, Indie, Strategy"
32132,610660,Russian Roads,2018-01-04,"Indie, Racing, Simulation"
32133,658870,EXIT 2 - Directions,2017-09-02,"Casual, Indie"
32134,681550,Maze Run VR,NaN,"Early Access, Adventure, Indie, Action, Simula..."

In [16]:
# Si hay valores nulos lo convierto a string
steam_games_1['App_name'] = steam_games_1['App_name'].fillna('Sin dato')
steam_games_1['Genres'] = steam_games_1['Genres'].fillna('Sin dato')
# Convierto todas las filas de las columnas de object a string
steam_games_1['App_name'] = steam_games_1['App_name'].astype(str)
steam_games_1['Genres'] = steam_games_1['Genres'].astype(str)

In [17]:
# Se verfica el DF
steam_games_1

,Id,App_name,Release_date,Genres
0,761140,Lost Summoner Kitty,2018-01-04,"Action, Casual, Indie, Simulation, Strategy"
1,643980,Ironbound,2018-01-04,"Free to Play, Indie, RPG, Strategy"
2,670290,Real Pool 3D - Poolians,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports"
3,767400,弹炸人2222,2017-12-07,"Action, Adventure, Casual"
4,773570,Log Challenge,NaN,"Action, Indie, Casual, Sports"
...,...,...,...,...
32130,773640,Colony On Mars,2018-01-04,"Casual, Indie, Simulation, Strategy"
32131,733530,LOGistICAL: South Africa,2018-01-04,"Casual, Indie, Strategy"
32132,610660,Russian Roads,2018-01-04,"Indie, Racing, Simulation"
32133,658870,EXIT 2 - Directions,2017-09-02,"Casual, Indie"
32134,681550,Maze Run VR,NaN,"Early Access, Adventure, Indie, Action, Simula..."

In [18]:
# Convertir la columna "Release_date" a tipo de dato de fecha y hora
steam_games_1["Release_date"] = pd.to_datetime(steam_games_1["Release_date"], errors='coerce')

# Calcular el promedio de las fechas sin incluir los valores NaN
promedio = steam_games_1["Release_date"].dropna().mean()

# Imputar el promedio a los valores NaN en la columna "Release_date"
steam_games_1["Release_date"].fillna(promedio, inplace=True)

In [19]:
steam_games_1

,Id,App_name,Release_date,Genres
0,761140,Lost Summoner Kitty,2018-01-04 00:00:00.000000000,"Action, Casual, Indie, Simulation, Strategy"
1,643980,Ironbound,2018-01-04 00:00:00.000000000,"Free to Play, Indie, RPG, Strategy"
2,670290,Real Pool 3D - Poolians,2017-07-24 00:00:00.000000000,"Casual, Free to Play, Indie, Simulation, Sports"
3,767400,弹炸人2222,2017-12-07 00:00:00.000000000,"Action, Adventure, Casual"
4,773570,Log Challenge,2015-04-21 10:02:55.267770112,"Action, Indie, Casual, Sports"
...,...,...,...,...
32130,773640,Colony On Mars,2018-01-04 00:00:00.000000000,"Casual, Indie, Simulation, Strategy"
32131,733530,LOGistICAL: South Africa,2018-01-04 00:00:00.000000000,"Casual, Indie, Strategy"
32132,610660,Russian Roads,2018-01-04 00:00:00.000000000,"Indie, Racing, Simulation"
32133,658870,EXIT 2 - Directions,2017-09-02 00:00:00.000000000,"Casual, Indie"
32134,681550,Maze Run VR,2015-04-21 10:02:55.267770112,"Early Access, Adventure, Indie, Action, Simula..."

In [20]:
# Extraer solo la fecha de la columna "Release_date"
steam_games_1["Release_date"] = steam_games_1["Release_date"].dt.date

In [21]:
# Se verifica el nuevamente DF
steam_games_1

,Id,App_name,Release_date,Genres
0,761140,Lost Summoner Kitty,2018-01-04,"Action, Casual, Indie, Simulation, Strategy"
1,643980,Ironbound,2018-01-04,"Free to Play, Indie, RPG, Strategy"
2,670290,Real Pool 3D - Poolians,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports"
3,767400,弹炸人2222,2017-12-07,"Action, Adventure, Casual"
4,773570,Log Challenge,2015-04-21,"Action, Indie, Casual, Sports"
...,...,...,...,...
32130,773640,Colony On Mars,2018-01-04,"Casual, Indie, Simulation, Strategy"
32131,733530,LOGistICAL: South Africa,2018-01-04,"Casual, Indie, Strategy"
32132,610660,Russian Roads,2018-01-04,"Indie, Racing, Simulation"
32133,658870,EXIT 2 - Directions,2017-09-02,"Casual, Indie"
32134,681550,Maze Run VR,2015-04-21,"Early Access, Adventure, Indie, Action, Simula..."

In [22]:
# Contar el número de ceros en la columna "Id"
num_zeros = (steam_games_1["Id"] == 0).sum()
print("Número de ceros en la columna 'Id':", num_zeros)

Número de ceros en la columna 'Id': 2

In [23]:
# Filtrar el DataFrame para obtener la fila donde el valor en la columna "Id" es igual a 0
fila_con_cero = steam_games_1[steam_games_1["Id"] == 0]

# Imprimir la fila completa
print(fila_con_cero)

       Id                                        App_name Release_date  \
74      0                                        Sin dato   2015-04-21
30961   0  Batman: Arkham City - Game of the Year Edition   2012-09-07

                  Genres
74              Sin dato
30961  Action, Adventure

In [24]:
# Tomamos la decisión de eliminar esas columnas
steam_games_1 = steam_games_1[steam_games_1["Id"] != 0]

In [25]:
steam_games_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 0 to 32134
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            32133 non-null  int32
 1   App_name      32133 non-null  object
 2   Release_date  32133 non-null  object
 3   Genres        32133 non-null  object
dtypes: int32(1), object(3)
memory usage: 1.1+ MB

In [26]:
steam_games_1

,Id,App_name,Release_date,Genres
0,761140,Lost Summoner Kitty,2018-01-04,"Action, Casual, Indie, Simulation, Strategy"
1,643980,Ironbound,2018-01-04,"Free to Play, Indie, RPG, Strategy"
2,670290,Real Pool 3D - Poolians,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports"
3,767400,弹炸人2222,2017-12-07,"Action, Adventure, Casual"
4,773570,Log Challenge,2015-04-21,"Action, Indie, Casual, Sports"
...,...,...,...,...
32130,773640,Colony On Mars,2018-01-04,"Casual, Indie, Simulation, Strategy"
32131,733530,LOGistICAL: South Africa,2018-01-04,"Casual, Indie, Strategy"
32132,610660,Russian Roads,2018-01-04,"Indie, Racing, Simulation"
32133,658870,EXIT 2 - Directions,2017-09-02,"Casual, Indie"
32134,681550,Maze Run VR,2015-04-21,"Early Access, Adventure, Indie, Action, Simula..."

In [27]:
# Convertimos de formato string a datetime
steam_games_1['Release_date'] = pd.to_datetime(steam_games_1['Release_date'], errors='coerce')

C:\Users\Paola\AppData\Local\Temp\ipykernel_11360\1094734987.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  steam_games_1['Release_date'] = pd.to_datetime(steam_games_1['Release_date'], errors='coerce')

In [28]:
steam_games_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 0 to 32134
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            32133 non-null  int32
 1   App_name      32133 non-null  object
 2   Release_date  32133 non-null  datetime64[ns]
 3   Genres        32133 non-null  object
dtypes: datetime64[ns](1), int32(1), object(2)
memory usage: 1.1+ MB

In [30]:
# Se guarda el archivo ya transformado a un formato csv
ruta_guardado_csv = "../Datacsv/steam_games_eda.csv"
steam_games_1.to_csv(ruta_guardado_csv, index=False)

In [31]:
# Se ubica la ruta del archivo "output_steam_games.csv" y se convierte en un dataframe
ruta_archivo = "../Datacsv/user_reviews.csv"
user_reviews  = pd.read_csv(ruta_archivo)

In [32]:
# Se verifica el DF
user_reviews.head()

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
0,NaN,"Posted November 5, 2011.",NaN,1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,NaN,"Posted July 15, 2011.",NaN,22200.0,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,NaN,"Posted April 21, 2011.",NaN,43110.0,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,NaN,"Posted June 24, 2014.",NaN,251610.0,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637,http://steamcommunity.com/id/js41637
4,NaN,"Posted September 8, 2013.",NaN,227300.0,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637,http://steamcommunity.com/id/js41637

In [33]:
# Se verfica las columnas del DF
print(user_reviews.columns)

Index(['funny', 'posted', 'last_edited', 'item_id', 'helpful', 'recommend',
       'review', 'user_id', 'user_url'],
      dtype='object')

In [34]:
# Se elimina las columnas
user_reviews_2 = user_reviews.drop(columns=['funny', 'last_edited', 'helpful', 'user_url'])

In [35]:
user_reviews_2

,posted,item_id,recommend,review,user_id
0,"Posted November 5, 2011.",1250.0,True,Simple yet with great replayability. In my opi...,76561197970982479
1,"Posted July 15, 2011.",22200.0,True,It's unique and worth a playthrough.,76561197970982479
2,"Posted April 21, 2011.",43110.0,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
3,"Posted June 24, 2014.",251610.0,True,I know what you think when you see this title ...,js41637
4,"Posted September 8, 2013.",227300.0,True,For a simple (it's actually not all that simpl...,js41637
...,...,...,...,...,...
59328,Posted July 10.,70.0,True,a must have classic from steam definitely wort...,76561198312638244
59329,Posted July 8.,362890.0,True,this game is a perfect remake of the original ...,76561198312638244
59330,Posted July 3.,273110.0,True,had so much fun plaing this and collecting res...,LydiaMorley
59331,Posted July 20.,730.0,True,:D,LydiaMorley
59332,Posted July 2.,440.0,True,so much fun :D,LydiaMorley

In [36]:
# Completar con 0 los nulos
user_reviews_2['item_id'] = user_reviews_2['item_id'].fillna(0)

# Convertir de float a int
user_reviews_2['item_id'] = user_reviews_2['item_id'].astype(int)

# Verificar la cantida de 0 en mi columna 'item_id'
(user_reviews_2['item_id'] == 0).sum()

28

In [37]:
# Extraer esas columnas con 0
user_reviews_2.loc[user_reviews_2['item_id'] == 0]

      posted  item_id recommend review            user_id
137      NaN        0       NaN    NaN              gdxsd
177      NaN        0       NaN    NaN  76561198094224872
2559     NaN        0       NaN    NaN  76561198021575394
10080    NaN        0       NaN    NaN            cmuir37
13767    NaN        0       NaN    NaN          Jaysteeny
15493    NaN        0       NaN    NaN             ML8989
19184    NaN        0       NaN    NaN  76561198079215291
20223    NaN        0       NaN    NaN  76561198079342142
25056    NaN        0       NaN    NaN  76561198061996985
26257    NaN        0       NaN    NaN  76561198108286351
26674    NaN        0       NaN    NaN     CallTripleZero
28444    NaN        0       NaN    NaN       Priceless612
28452    NaN        0       NaN    NaN      diabolical666
28975    NaN        0       NaN    NaN         DrScottnik
31955    NaN        0       NaN    NaN  76561198110176420
32819    NaN        0       NaN    NaN         jojoPL1987
33785    NaN        0       NaN    NaN        Kylee_Kylie
39279    NaN        0       NaN    NaN             _samie
39357    NaN        0       NaN    NaN   FifthExclamation
39420    NaN        0       NaN    NaN             sbenji
40661    NaN        0       NaN    NaN     SpatialWheel14
41777    NaN        0       NaN    NaN  76561198065238937
44384    NaN        0       NaN    NaN  76561198071075080
50718    NaN        0       NaN    NaN  76561198063489150
53323    NaN        0       NaN    NaN   thecommunistbear
55425    NaN        0       NaN    NaN  76561198085883839
57578    NaN        0       NaN    NaN  76561198100396147
57766    NaN        0       NaN    NaN  76561198102423654

In [38]:
# Eliminar las filas que contienen ceros en la columna 'items_id'
user_reviews_2 = user_reviews_2[user_reviews_2['item_id'] != 0]

# Se desea restablecer el índice después de eliminar las filas
user_reviews_2.reset_index(drop=True, inplace=True)

In [39]:
# Se verifica el df
user_reviews_2

,posted,item_id,recommend,review,user_id
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
3,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637
4,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637
...,...,...,...,...,...
59300,Posted July 10.,70,True,a must have classic from steam definitely wort...,76561198312638244
59301,Posted July 8.,362890,True,this game is a perfect remake of the original ...,76561198312638244
59302,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,LydiaMorley
59303,Posted July 20.,730,True,:D,LydiaMorley
59304,Posted July 2.,440,True,so much fun :D,LydiaMorley

In [40]:
# Se verifica los nombres de las columnas
print(user_reviews_2.columns)

Index(['posted', 'item_id', 'recommend', 'review', 'user_id'], dtype='object')

In [41]:
# Cambiar el nombre de las columnas
user_reviews_2.rename(columns={'posted': 'Posted', 'item_id': 'Id', 'recommend': 'Recommend', 'review': 'Review', 'user_id': 'User_id'}, inplace=True)

# Reordenar las columnas
user_reviews_2 = user_reviews_2[['User_id', 'Review', 'Posted', 'Recommend', 'Id']]

C:\Users\Paola\AppData\Local\Temp\ipykernel_11360\418339834.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_reviews_2.rename(columns={'posted': 'Posted', 'item_id': 'Id', 'recommend': 'Recommend', 'review': 'Review', 'user_id': 'User_id'}, inplace=True)

In [42]:
# Se verifica el DF
user_reviews_2

,User_id,Review,Posted,Recommend,Id
0,76561197970982479,Simple yet with great replayability. In my opi...,"Posted November 5, 2011.",True,1250
1,76561197970982479,It's unique and worth a playthrough.,"Posted July 15, 2011.",True,22200
2,76561197970982479,Great atmosphere. The gunplay can be a bit chu...,"Posted April 21, 2011.",True,43110
3,js41637,I know what you think when you see this title ...,"Posted June 24, 2014.",True,251610
4,js41637,For a simple (it's actually not all that simpl...,"Posted September 8, 2013.",True,227300
...,...,...,...,...,...
59300,76561198312638244,a must have classic from steam definitely wort...,Posted July 10.,True,70
59301,76561198312638244,this game is a perfect remake of the original ...,Posted July 8.,True,362890
59302,LydiaMorley,had so much fun plaing this and collecting res...,Posted July 3.,True,273110
59303,LydiaMorley,:D,Posted July 20.,True,730
59304,LydiaMorley,so much fun :D,Posted July 2.,True,440

In [43]:
# Completar con 0 los nulos
user_reviews_2['Posted'] = user_reviews_2['Posted'].fillna(0)


# Verificar la cantida de 0 en mi columna 'item_id'
(user_reviews_2['Posted'] == 0).sum()

0

In [44]:
# Eliminar 'Posted' de la columna 'Posted'
user_reviews_2['Posted'] = user_reviews_2['Posted'].str.replace('Posted ', '')

In [45]:
# Se verifica la cantidad de datos nulos en la columna 'Review'
user_reviews_2['Review'].isnull().sum()

30

In [46]:
# Eliminar las filas que contienen valores nulos en la columna 'review'
user_reviews_2 = user_reviews_2.dropna(subset=['Review'])

# Si deseas restablecer el índice después de eliminar las filas
user_reviews_2.reset_index(drop=True, inplace=True)

In [47]:
user_reviews_2

,User_id,Review,Posted,Recommend,Id
0,76561197970982479,Simple yet with great replayability. In my opi...,"November 5, 2011.",True,1250
1,76561197970982479,It's unique and worth a playthrough.,"July 15, 2011.",True,22200
2,76561197970982479,Great atmosphere. The gunplay can be a bit chu...,"April 21, 2011.",True,43110
3,js41637,I know what you think when you see this title ...,"June 24, 2014.",True,251610
4,js41637,For a simple (it's actually not all that simpl...,"September 8, 2013.",True,227300
...,...,...,...,...,...
59270,76561198312638244,a must have classic from steam definitely wort...,July 10.,True,70
59271,76561198312638244,this game is a perfect remake of the original ...,July 8.,True,362890
59272,LydiaMorley,had so much fun plaing this and collecting res...,July 3.,True,273110
59273,LydiaMorley,:D,July 20.,True,730
59274,LydiaMorley,so much fun :D,July 2.,True,440

In [48]:
# Retirar los puntos y las comas de la columna 'Posted'
user_reviews_2['Posted'] = user_reviews_2['Posted'].str.replace('.', '').str.replace(',', '')

C:\Users\Paola\AppData\Local\Temp\ipykernel_11360\1154728152.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_reviews_2['Posted'] = user_reviews_2['Posted'].str.replace('.', '').str.replace(',', '')

In [49]:
# Verificar el dataframe
user_reviews_2

,User_id,Review,Posted,Recommend,Id
0,76561197970982479,Simple yet with great replayability. In my opi...,November 5 2011,True,1250
1,76561197970982479,It's unique and worth a playthrough.,July 15 2011,True,22200
2,76561197970982479,Great atmosphere. The gunplay can be a bit chu...,April 21 2011,True,43110
3,js41637,I know what you think when you see this title ...,June 24 2014,True,251610
4,js41637,For a simple (it's actually not all that simpl...,September 8 2013,True,227300
...,...,...,...,...,...
59270,76561198312638244,a must have classic from steam definitely wort...,July 10,True,70
59271,76561198312638244,this game is a perfect remake of the original ...,July 8,True,362890
59272,LydiaMorley,had so much fun plaing this and collecting res...,July 3,True,273110
59273,LydiaMorley,:D,July 20,True,730
59274,LydiaMorley,so much fun :D,July 2,True,440

In [50]:
# 2015 fue el ultimo anio donde registran data, vamos asumir que los no tienen anio son del 2016
user_reviews_2.loc[user_reviews_2['Posted'].str.match(r'^[a-zA-Z]+ \d+$'), 'Posted'] += ' 2016'

In [51]:
# Convertimos de formato string a datetime
user_reviews_2['Posted'] = pd.to_datetime(user_reviews_2['Posted'], errors='coerce')

C:\Users\Paola\AppData\Local\Temp\ipykernel_11360\912250413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_reviews_2['Posted'] = pd.to_datetime(user_reviews_2['Posted'], errors='coerce')

In [52]:
user_reviews_2

,User_id,Review,Posted,Recommend,Id
0,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,True,1250
1,76561197970982479,It's unique and worth a playthrough.,2011-07-15,True,22200
2,76561197970982479,Great atmosphere. The gunplay can be a bit chu...,2011-04-21,True,43110
3,js41637,I know what you think when you see this title ...,2014-06-24,True,251610
4,js41637,For a simple (it's actually not all that simpl...,2013-09-08,True,227300
...,...,...,...,...,...
59270,76561198312638244,a must have classic from steam definitely wort...,2016-07-10,True,70
59271,76561198312638244,this game is a perfect remake of the original ...,2016-07-08,True,362890
59272,LydiaMorley,had so much fun plaing this and collecting res...,2016-07-03,True,273110
59273,LydiaMorley,:D,2016-07-20,True,730
59274,LydiaMorley,so much fun :D,2016-07-02,True,440

In [53]:
user_reviews_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59275 entries, 0 to 59274
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   User_id    59275 non-null  object
 1   Review     59275 non-null  object
 2   Posted     59275 non-null  datetime64[ns]
 3   Recommend  59275 non-null  object
 4   Id         59275 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(3)
memory usage: 2.0+ MB

In [54]:
# Ver que tipos de valores hay en la columna 'Recommend'
user_reviews_2['Recommend'].unique()

array([True, False], dtype=object)

In [55]:
# Convertimos de object a booleano
user_reviews_2['Recommend'] = user_reviews_2['Recommend'].astype('boolean')

C:\Users\Paola\AppData\Local\Temp\ipykernel_11360\1231864290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_reviews_2['Recommend'] = user_reviews_2['Recommend'].astype('boolean')

In [56]:
user_reviews_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59275 entries, 0 to 59274
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   User_id    59275 non-null  object
 1   Review     59275 non-null  object
 2   Posted     59275 non-null  datetime64[ns]
 3   Recommend  59275 non-null  boolean
 4   Id         59275 non-null  int32
dtypes: boolean(1), datetime64[ns](1), int32(1), object(2)
memory usage: 1.7+ MB

In [57]:
user_reviews_2

,User_id,Review,Posted,Recommend,Id
0,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,True,1250
1,76561197970982479,It's unique and worth a playthrough.,2011-07-15,True,22200
2,76561197970982479,Great atmosphere. The gunplay can be a bit chu...,2011-04-21,True,43110
3,js41637,I know what you think when you see this title ...,2014-06-24,True,251610
4,js41637,For a simple (it's actually not all that simpl...,2013-09-08,True,227300
...,...,...,...,...,...
59270,76561198312638244,a must have classic from steam definitely wort...,2016-07-10,True,70
59271,76561198312638244,this game is a perfect remake of the original ...,2016-07-08,True,362890
59272,LydiaMorley,had so much fun plaing this and collecting res...,2016-07-03,True,273110
59273,LydiaMorley,:D,2016-07-20,True,730
59274,LydiaMorley,so much fun :D,2016-07-02,True,440

In [58]:
# Crear un objeto SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

# Función para asignar etiquetas de sentimiento
def asignar_sentimiento(texto):
    if pd.isnull(texto):
        return 1  # Neutral para valores nulos
    else:
        score = sia.polarity_scores(texto)['compound']
        if score >= 0.05:
            return 2  # Positivo
        elif score <= -0.05:
            return 0  # Negativo
        else:
            return 1  # Neutral para valores con puntuación entre -0.05 y 0.05

In [59]:
# Aplicar la función a la columna 'Review' y crear la nueva columna 'sentiment_analysis'
user_reviews_2['Sentiment_analysis'] = user_reviews_2['Review'].apply(asignar_sentimiento)

C:\Users\Paola\AppData\Local\Temp\ipykernel_11360\4151436844.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_reviews_2['Sentiment_analysis'] = user_reviews_2['Review'].apply(asignar_sentimiento)

In [60]:
# Verificar el DF
user_reviews_2

,User_id,Review,Posted,Recommend,Id,Sentiment_analysis
0,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,True,1250,2
1,76561197970982479,It's unique and worth a playthrough.,2011-07-15,True,22200,2
2,76561197970982479,Great atmosphere. The gunplay can be a bit chu...,2011-04-21,True,43110,2
3,js41637,I know what you think when you see this title ...,2014-06-24,True,251610,2
4,js41637,For a simple (it's actually not all that simpl...,2013-09-08,True,227300,2
...,...,...,...,...,...,...
59270,76561198312638244,a must have classic from steam definitely wort...,2016-07-10,True,70,2
59271,76561198312638244,this game is a perfect remake of the original ...,2016-07-08,True,362890,2
59272,LydiaMorley,had so much fun plaing this and collecting res...,2016-07-03,True,273110,2
59273,LydiaMorley,:D,2016-07-20,True,730,2
59274,LydiaMorley,so much fun :D,2016-07-02,True,440,2

In [61]:
user_reviews_2 = user_reviews_2.drop(columns=['Review'])

In [62]:
user_reviews_2

                 User_id     Posted  Recommend      Id  Sentiment_analysis
0      76561197970982479 2011-11-05       True    1250                   2
1      76561197970982479 2011-07-15       True   22200                   2
2      76561197970982479 2011-04-21       True   43110                   2
3                js41637 2014-06-24       True  251610                   2
4                js41637 2013-09-08       True  227300                   2
...                  ...        ...        ...     ...                 ...
59270  76561198312638244 2016-07-10       True      70                   2
59271  76561198312638244 2016-07-08       True  362890                   2
59272        LydiaMorley 2016-07-03       True  273110                   2
59273        LydiaMorley 2016-07-20       True     730                   2
59274        LydiaMorley 2016-07-02       True     440                   2

[59275 rows x 5 columns]

In [63]:
user_reviews_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59275 entries, 0 to 59274
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   User_id             59275 non-null  object
 1   Posted              59275 non-null  datetime64[ns]
 2   Recommend           59275 non-null  boolean
 3   Id                  59275 non-null  int32
 4   Sentiment_analysis  59275 non-null  int64
dtypes: boolean(1), datetime64[ns](1), int32(1), int64(1), object(1)
memory usage: 1.7+ MB

In [64]:
# Se guarda el archivo ya transformado a un formato csv
ruta_guardado_csv = "../Datacsv/user_review_eda.csv"
user_reviews_2.to_csv(ruta_guardado_csv, index=False)

In [65]:
# Se ubica la ruta del archivo "steam_games" y se convierte en un dataframe
ruta_archivo = "../Datacsv/user_items.csv"
user_items  = pd.read_csv(ruta_archivo)

In [66]:
user_items

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_countl,steam_id,user_url
0,10.0,Counter-Strike,6.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20.0,Team Fortress Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30.0,Day of Defeat,7.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40.0,Deathmatch Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50.0,Half-Life: Opposing Force,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...,...
5170010,373330.0,All Is Dust,0.0,0.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5170011,388490.0,One Way To Die: Steam Edition,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5170012,521570.0,You Have 10 Seconds 2,4.0,4.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5170013,519140.0,Minds Eyes,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5170014,NaN,NaN,NaN,NaN,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick

In [67]:
user_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5170015 entries, 0 to 5170014
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           float64
 1   item_name         object
 2   playtime_forever  float64
 3   playtime_2weeks   float64
 4   user_id           object
 5   items_countl      int64
 6   steam_id          int64
 7   user_url          object
dtypes: float64(3), int64(2), object(3)
memory usage: 315.6+ MB

In [68]:
print(user_items.columns)

Index(['item_id', 'item_name', 'playtime_forever', 'playtime_2weeks',
       'user_id', 'items_countl', 'steam_id', 'user_url'],
      dtype='object')

In [69]:
user_items_1 = user_items.drop(columns=['playtime_2weeks', 'items_countl', 'user_url', 'item_name', 'steam_id'])

In [70]:
user_items_1

          item_id  playtime_forever            user_id
0            10.0               6.0  76561197970982479
1            20.0               0.0  76561197970982479
2            30.0               7.0  76561197970982479
3            40.0               0.0  76561197970982479
4            50.0               0.0  76561197970982479
...           ...               ...                ...
5170010  373330.0               0.0  76561198329548331
5170011  388490.0               3.0  76561198329548331
5170012  521570.0               4.0  76561198329548331
5170013  519140.0               3.0  76561198329548331
5170014       NaN               NaN  edward_tremethick

[5170015 rows x 3 columns]

In [71]:
# Eliminar filas con valores nulos en 'playtime_forever'
user_items_2 = user_items_1.dropna(subset=['playtime_forever'])

In [72]:
# Filtrar filas con valor de 0.0 en 'playtime_forever'
user_items_2 = user_items_2[user_items_2['playtime_forever'] != 0.0]

In [73]:
# Resetear el indice
user_items_2.reset_index(drop=True, inplace=True)

In [74]:
user_items_2

          item_id  playtime_forever            user_id
0            10.0               6.0  76561197970982479
1            30.0               7.0  76561197970982479
2           300.0            4733.0  76561197970982479
3           240.0            1853.0  76561197970982479
4          3830.0             333.0  76561197970982479
...           ...               ...                ...
3285241  304930.0             677.0  76561198329548331
3285242  227940.0              43.0  76561198329548331
3285243  388490.0               3.0  76561198329548331
3285244  521570.0               4.0  76561198329548331
3285245  519140.0               3.0  76561198329548331

[3285246 rows x 3 columns]

In [75]:
user_items_2['playtime_forever'] = user_items_2['playtime_forever'].astype(int)
user_items_2['item_id'] = user_items_2['item_id'].astype(int)

In [76]:
user_items_2

         item_id  playtime_forever            user_id
0             10                 6  76561197970982479
1             30                 7  76561197970982479
2            300              4733  76561197970982479
3            240              1853  76561197970982479
4           3830               333  76561197970982479
...          ...               ...                ...
3285241   304930               677  76561198329548331
3285242   227940                43  76561198329548331
3285243   388490                 3  76561198329548331
3285244   521570                 4  76561198329548331
3285245   519140                 3  76561198329548331

[3285246 rows x 3 columns]

In [77]:
user_items_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3285246 entries, 0 to 3285245
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int32
 1   playtime_forever  int32
 2   user_id           object
dtypes: int32(2), object(1)
memory usage: 50.1+ MB

In [78]:
print(user_items_2.columns)

Index(['item_id', 'playtime_forever', 'user_id'], dtype='object')

In [79]:
# Cambiar el nombre de las columnas y reordenarlas
user_items_2.rename(columns={'item_id': 'Id', 'item_name': 'Item_name', 'playtime_forever': 'Playtime_forever', 'user_id': 'User_id', 'steam_id': 'Steam_id'}, inplace=True)

In [80]:
user_items_2.tail(50)

             Id  Playtime_forever            User_id
3285196      50                67  76561198312638244
3285197      70              1010  76561198312638244
3285198     130               221  76561198312638244
3285199     220               252  76561198312638244
3285200     320                 1  76561198312638244
3285201     500              3172  76561198312638244
3285202     550               296  76561198312638244
3285203   24960               234  76561198312638244
3285204   21090               192  76561198312638244
3285205   42700                64  76561198312638244
3285206  214870                56  76561198312638244
3285207  202970               321  76561198312638244
3285208  202990                21  76561198312638244
3285209  212910               490  76561198312638244
3285210  233270               533  76561198312638244
3285211  238430                21  76561198312638244
3285212  286690                47  76561198312638244
3285213  238010               284  76561198312638244
3285214     730                23  76561198312638244
3285215  362890              2184  76561198312638244
3285216  400040                 1  76561198312638244
3285217  379720              1178  76561198312638244
3285218  304930                62  76561198313144785
3285219  386360                 1  76561198313144785
3285220   21100               115  76561198313357718
3285221  250400               451  76561198313357718
3285222     730              2317  76561198313357718
3285223     730              2987           POMFP0MF
3285224     220                64  76561198314015545
3285225  403430                12  76561198314015545
3285226  285900               213  76561198315899135
3285227  285900                84  76561198316040453
3285228  211420               116  76561198319916652
3285229  370240              1533  76561198319916652
3285230  310950               171  76561198319916652
3285231   39000                71  76561198320038728
3285232  304930                38  76561198320038728
3285233  227940                59  76561198320038728
3285234  346330               756  76561198320038728
3285235  442080               153  76561198320038728
3285236  496920                 2  76561198320136420
3285237  273350               103  76561198320136420
3285238     730              4557          ArkPlays7
3285239  346110               623          ArkPlays7
3285240  417860                 8  76561198323066619
3285241  304930               677  76561198329548331
3285242  227940                43  76561198329548331
3285243  388490                 3  76561198329548331
3285244  521570                 4  76561198329548331
3285245  519140                 3  76561198329548331

In [81]:
user_items_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3285246 entries, 0 to 3285245
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   Id                int32
 1   Playtime_forever  int32
 2   User_id           object
dtypes: int32(2), object(1)
memory usage: 50.1+ MB

In [82]:
pd.options.display.float_format = '{:,.0f}'.format
user_items_2['Playtime_forever'].describe()

count   3,285,246
mean        1,555
std         6,721
min             1
25%            44
50%           205
75%           808
max       642,773
Name: Playtime_forever, dtype: float64

In [83]:
# Se guarda el archivo ya transformado a un formato csv
ruta_guardado_csv = "../Datacsv/user_items_eda.csv"
user_items_2.to_csv(ruta_guardado_csv, index=False)

COMPARAMOS LOS 3 DATAFRAMES

In [84]:
print(user_items_2.head(5))
user_items_2.info()

     Id  Playtime_forever            User_id
0    10                 6  76561197970982479
1    30                 7  76561197970982479
2   300              4733  76561197970982479
3   240              1853  76561197970982479
4  3830               333  76561197970982479
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3285246 entries, 0 to 3285245
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   Id                int32
 1   Playtime_forever  int32
 2   User_id           object
dtypes: int32(2), object(1)
memory usage: 50.1+ MB

In [85]:
print(user_reviews_2.head(5))
user_reviews_2.info()

             User_id     Posted  Recommend      Id  Sentiment_analysis
0  76561197970982479 2011-11-05       True    1250                   2
1  76561197970982479 2011-07-15       True   22200                   2
2  76561197970982479 2011-04-21       True   43110                   2
3            js41637 2014-06-24       True  251610                   2
4            js41637 2013-09-08       True  227300                   2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59275 entries, 0 to 59274
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   User_id             59275 non-null  object
 1   Posted              59275 non-null  datetime64[ns]
 2   Recommend           59275 non-null  boolean
 3   Id                  59275 non-null  int32
 4   Sentiment_analysis  59275 non-null  int64
dtypes: boolean(1), datetime64[ns](1), int32(1), int64(1), object(1)
memory usage: 1.7+ MB

In [86]:
print(steam_games_1.head(5))
steam_games_1.info()

       Id                 App_name Release_date  \
0  761140      Lost Summoner Kitty   2018-01-04
1  643980                Ironbound   2018-01-04
2  670290  Real Pool 3D - Poolians   2017-07-24
3  767400                  弹炸人2222   2017-12-07
4  773570            Log Challenge   2015-04-21

                                            Genres
0      Action, Casual, Indie, Simulation, Strategy
1               Free to Play, Indie, RPG, Strategy
2  Casual, Free to Play, Indie, Simulation, Sports
3                        Action, Adventure, Casual
4                    Action, Indie, Casual, Sports
<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 0 to 32134
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            32133 non-null  int32
 1   App_name      32133 non-null  object
 2   Release_date  32133 non-null  datetime64[ns]
 3   Genres        32133 non-null  object
dtypes: datetime64[ns](1), int32(1), object(2)
memory usage: 1.1+ MB

In [87]:
steam_games_1['Id'].nunique()

32132

In [88]:
user_reviews_2['Id'].nunique()

3682

In [89]:
user_items_2['Id'].nunique()

10050

In [90]:
user_reviews_2['User_id'].nunique()

25447

In [91]:
user_items_2['User_id'].nunique()

68403

In [92]:
# Se va unir los dataframes de Stems_games y user_items
# Cargar los datos en fragmentos
chunksize = 1000  # Tamaño del fragmento
data1_chunks = pd.read_csv("../Datacsv/steam_games_eda.csv", chunksize=chunksize)
data2_chunks = pd.read_csv("../Datacsv/user_items_eda.csv", chunksize=chunksize)

In [93]:
def incremental_merge(data1_chunks, data2_chunks, on_column):
    for chunk1 in data1_chunks:
        for chunk2 in data2_chunks:
            yield pd.merge(chunk1, chunk2, on=on_column)

# Especificar la columna para la unión
on_column = 'Id'  # Cambia esto por el nombre de la columna que deseas usar para unir los DataFrames

# Unir los datos incrementalmente
merged_chunks = list(incremental_merge(data1_chunks, data2_chunks, on_column))

# Concatenar los resultados
items_game1 = pd.concat(merged_chunks, ignore_index=True)

In [94]:
items_game1

,Id,App_name,Release_date,Genres,Playtime_forever,User_id
0,70,Half-Life,1998-11-08,Action,108,doctr
1,2400,The Ship: Murder Party,2006-07-11,"Action, Indie, RPG",1,doctr
2,1520,DEFCON,2006-09-29,"Indie, Strategy",158,evcentric
3,2420,The Ship: Single Player,2006-11-20,"Action, Indie, RPG",15,doctr
4,4000,Garry's Mod,2006-11-29,"Indie, Simulation",412,js41637
...,...,...,...,...,...,...
458375,9940,Blade Kitten,2010-09-22,"Action, Adventure",209,76561198302935315
458376,42700,Call of Duty®: Black Ops,2010-11-09,Action,64,76561198312638244
458377,21100,F.E.A.R. 3,2011-06-21,Action,115,76561198313357718
458378,102200,Runespell: Overture,2011-07-20,"Adventure, Indie, RPG",248,76561198302935315
458379,204180,Waveform,2012-03-20,"Adventure, Indie, Strategy",210,76561198302935315

In [95]:
items_game1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458380 entries, 0 to 458379
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                458380 non-null  int64
 1   App_name          458380 non-null  object
 2   Release_date      458380 non-null  object
 3   Genres            458380 non-null  object
 4   Playtime_forever  458380 non-null  int64
 5   User_id           458380 non-null  object
dtypes: int64(2), object(4)
memory usage: 21.0+ MB

In [96]:
items_game1['Release_date'] = pd.to_datetime(items_game1['Release_date'], errors='coerce')

In [97]:
# Obtener la cantidad de valores nulos en todas las columnas
null_counts = items_game1.isnull().sum()

# Mostrar los resultados
print("Cantidad de valores nulos en cada columna:")
print(null_counts)

Cantidad de valores nulos en cada columna:
Id                  0
App_name            0
Release_date        0
Genres              0
Playtime_forever    0
User_id             0
dtype: int64

In [98]:
# Ver la cantidad de valores únicos
unique_counts = items_game1.nunique()

# Obtener los valores únicos de cada columna
unique_values = {col: items_game1[col].unique() for col in items_game1.columns}

# Mostrar los resultados
print("Cantidad de valores únicos en cada columna:")
print(unique_counts)

print("\nValores únicos de cada columna:")
for col, values in unique_values.items():
    print(f"\n{col}:")
    print(values)

Cantidad de valores únicos en cada columna:
Id                    596
App_name              596
Release_date          470
Genres                 88
Playtime_forever    23486
User_id             58559
dtype: int64

Valores únicos de cada columna:

Id:
[    70   2400   1520   2420   4000   6510   7610   7600   2290   2280
   2300   9010   2310   7670   4570   4760  12140   2700  13250  15960
  12360  15700   7770  17330  20900  17120  16810  21000  15390  22000
   2820  12200  19900   9480  17410  18500  24740  23700  22200  25900
  22330  21660   6060  32360  10140  36000  32370  29180  38410  13570
  40300  40700  41500  24800  41000  17450  10180  41800  35420  32430
  41050  49900  12220  49600  40930  34010  50130  50510  62100  70300
  57300  70400  70100  70110  38600   8930   9940  50620  47790  22380
  67000  18040  62000  63700  42700  45500  12100  12120  63200  63710
  55100  70000    620  91600  98200  57690 107200  22230  35450 113200
 115100 110800 201310  35720  57740 203770 108710 115110 204180  40390
  98300 204100 207080   8200   8210   9310   4580  12180  13240  15710
   8660   7760  20510  17300   3540  18300  16450  21980  22370  45700
  48700  42120  40420  28000  22600  46450   6120  31290  47780  57650
  91200  57900  99900  49470  97000  21100  94590  61100  55150  33420
 111400  45770 201480 200910  43190 113400 204340 203750 209100 213030
 212630  13520  13210   1930  10150  22320  35000  39550  39540  11450
  17570  34270  41060  32500  15750   7520  94000 102700  91810  71340
  61310 203210  10220 200210 207490 209790 212160  17080  17480  21670
  24790  39120  39160  65790   9900 206480 200010   2520   6220   2570
   1530   1280  11390  24840  46410  33660  12110  47890   9880  55370
 212500  17470  41100  12710   9350 204030 109500 213330 282010   2540
   9160   2270   9000   3600   6080  32440  37370  65700  45750  73020
   2990  13560  22610  42960   9930  80200  98400  73210 202200 207250
 202310  12130  12150  40320   3130  24810  31700  24780  48800  48220
 205530  45400  49800  38740 111100  11330  33570  99910   6550  12460
  37400   9420  23530  15320  21600  39680  70900  80000  42140  70120
 105800 205550   7000  46770  35460  46520 203510 206690 207790 102850
  11260  19800  63940  95900   4770  12170  38420  15370  63950   6200
   7660  10120  15740   8000  26000  38120  37310   8890   8880  10130
  38440  73170  91100   1230  22180  24870  45300  92300  44620   1640
   1630   3990   7650   9040   9030  12500  15400  63900  63910 201510
 200390  24480 108500 207420 211800 207350  42170   2850  61500  57640
  47800  12580  12570  12690  42920  22450 204560  18470  22340  32450
  13540  37600 209370   7510  47540   9800  13200  38430  12160  57700
  33520  12510  19930   7840  33670  22650  95700  18070 214170  15210
   7730 207430   9760  35070   1700  41900 102200   7530 200670  65610
   3230   2780  25830  46350  42980  35310 110600 108110  15380   6310
   9850  31170  80340 203830  19830   2840  49320  19200  11240  12770
  11340  38210  37030  46250  45730  34920  46790  46480 202690  61510
  61520 280720 205840  31180  31190  31200   4850   3800   6300   3810
  13000   3050  18600  29160  12470  32770  29120  39900  19080  19030
  33650  70200   6210  15970  15930  15920  17140  27800  35800  50820
  57800  50000  72400  51060  65080  60340  92400  46490 108210 201490
 203990 204390 205690 205830 203560  73060 207320 110630 202370 108200
  70210  21300  34420   2710  21680  57620   6090 200230 200130  16180
  43100   9710  12440  32330  42800  35300  44100  43500  39630   8690
  44660   8310  63660  23460  19500  27020  37500  38080  42000 211010
  37100 105700  80300  57730  11050   3980  46600 206610  10100  15080
  33950   4230  12590  39560  21010  99100  10110  15200  15240   6010
  32310 207710  24640  21030  46830  72500  12520  42220 200080  12560
  34180  92700  38090 206760  65400  12600  38000  38100  38110  33730
  33390  33980  37390  37360  12530  11040   3610 208110  65710   8100
  46720   4460 204440   7620  42810  50970  32140  99200  39640   3520
  34500  12640  33770  40330  15900  42210  42230  12310  40340  33990
 111000 208630 208640  16200  37960  42200  37320   8320  36300   9730
  15910  46760  31860  15950  23150  19320  15160  50920  31900  31930
  31980  38130  37300  47570  31920  38140   4900  34640  38180  50940
  37330  20200  32710  32740  34630 202670  12540  38150  46840  49000
  38070  36310  19810  16060  38160  37340]

App_name:
['Half-Life' 'The Ship: Murder Party' 'DEFCON' 'The Ship: Single Player'
 "Garry's Mod" 'Lost Planet™: Extreme Condition' 'Railroad Tycoon 3'
 "Sid Meier's Railroads!" 'Final DOOM' 'Ultimate Doom' 'DOOM II'
 'Return to Castle Wolfenstein' 'QUAKE' 'BioShock™'
 'Warhammer® 40,000: Dawn of War® - Game of the Year Edition'
 'Rome: Total War™ - Collection' 'Max Payne'
 'RollerCoaster Tycoon® 3: Platinum' 'Unreal Gold' 'Little Farm'
 'FlatOut: Ultimate Carnage' "Oddworld: Abe's Oddysee®" 'X-COM: Enforcer'
 'Crysis Warhead®' "The Witcher: Enhanced Edition Director's Cut"
 'Children of the Nile: Alexandria'
 "Sid Meier's Civilization IV: Colonization" 'LEGO Batman'
 "Brothers in Arms: Hell's Highway™" 'World of Goo' 'X3: Terran Conflict'
 'Bully: Scholarship Edition' "Far Cry® 2: Fortune's Edition"
 'Saints Row 2' "Mirror's Edge™" 'Defense Grid: The Awakening'
 'Burnout Paradise: The Ultimate Box' 'Puzzle Kingdoms' 'Zeno Clash'
 "King's Bounty: The Legend"
 'The Elder Scrolls IV: Oblivion® Game of the Year Edition'
 'Street Fighter® IV' 'Star Wars: Battlefront 2 (Classic, 2005)'
 'The Secret of Monkey Island: Special Edition'
 '3D Ultra™ Minigolf Adventures' 'Foreign Legion: Buckets of Blood'
 'STAR WARS™ - Knights of the Old Republic™' 'Osmos'
 'Fallout 2: A Post Nuclear Role Playing Game'
 "Tom Clancy's Splinter Cell Chaos Theory®" 'Risen' 'Machinarium'
 'Torchlight' 'Command & Conquer: Red Alert 3 - Uprising'
 'Serious Sam HD: The First Encounter' 'Dragon Age: Origins'
 'Call of Duty®: Modern Warfare® 2' 'Gratuitous Space Battles'
 'Defence Alliance 2'
 'STAR WARS™ - The Force Unleashed™ Ultimate Sith Edition'
 'Serious Sam Classic: The First Encounter' 'Plain Sight'
 'Grand Theft Auto: Episodes from Liberty City' 'Beat Hazard'
 'The Misadventures of P.B. Winterbottom' 'Alpha Protocol™' 'Mafia II'
 'Burn Zombie Burn!' 'Chime' 'VVVVVV' 'Amnesia: The Dark Descent'
 "Recettear: An Item Shop's Tale" 'Hacker Evolution'
 'Hacker Evolution: Untold' 'Faerie Solitaire'
 "Sid Meier's Civilization® V" 'Blade Kitten' 'Darksiders™'
 'Medal of Honor™' 'Fallout: New Vegas'
 'The Polynomial - Space of the music' 'DeathSpank' 'Flight Control HD'
 'BIT.TRIP BEAT' 'Call of Duty®: Black Ops' 'Clickr'
 'Grand Theft Auto III' 'Grand Theft Auto: San Andreas'
 'Monday Night Combat' 'BIT.TRIP RUNNER' 'Homefront' 'Dino D-Day'
 'Portal 2' 'Sanctum' 'Frozen Synapse' 'Tropico 4'
 'Space Pirates and Zombies' 'Rock of Ages'
 'Red Orchestra 2: Heroes of Stalingrad with Rising Storm'
 'The Binding of Isaac' 'Costume Quest' 'L.A. Noire' 'X3: Albion Prelude'
 'Trine 2: Complete Story' 'Jagged Alliance - Back in Action'
 'Crusader Kings II' 'Alan Wake' 'Stacking' 'Waveform'
 'Risen 2: Dark Waters' 'Toy Soldiers' 'Max Payne 3'
 'Indie Game: The Movie' 'Sam & Max 101: Culture Shock'
 'Sam & Max 102: Situation: Comedy'
 'Warhammer® 40,000: Dawn of War® – Winter Assault'
 'Warhammer® 40,000: Dawn of War® - Dark Crusade' 'Grand Theft Auto 2'
 'Unreal Tournament: Game of the Year Edition' "Oddworld: Abe's Exoddus®"
 'GTR Evolution Expansion Pack for RACE 07' 'X-COM: UFO Defense'
 'S.T.A.L.K.E.R.: Clear Sky' 'Crysis' 'Peggle™ Nights' 'Spectraball'
 'F.E.A.R. 2: Project Origin' 'Call of Juarez®: Bound in Blood'
 'Fallout 3: Game of the Year Edition' 'Devil May Cry 4'
 'Mount & Blade: Warband' 'Lead and Gold: Gangs of the Wild West'
 'Tidalis' 'Kane & Lynch 2: Dog Days' 'Worms Reloaded'
 'Grotesque Tactics: Evil Heroes' 'Shank' 'Back to the Future: The Game'
 'Dead Space™ 2' 'DUNGEONS - Steam Special Edition'
 'Anomaly: Warzone Earth' 'Duke Nukem Forever' 'Spiral Knights'
 'Magic: The Gathering - Duels of the Planeswalkers 2012' 'Solar 2'
 'F.E.A.R. 3' 'Puzzle Agent 2' 'Lucid' 'Warhammer 40,000: Space Marine'
 'Call of Juarez®: The Cartel' 'Bunch of Heroes'
 'Dead Rising 2: Off the Record' 'Serious Sam: The Random Encounter'
 'Before the Echo' 'The Haunted: Hells Reach' 'APB Reloaded'
 'Serious Sam 2' 'Binary Domain' 'Resident Evil: Operation Raccoon City'
 "Penny Arcade's On the Rain-Slick Precipice of Darkness 3"
 "Tom Clancy's Ghost Recon: Future Soldier™" 'Far Cry®'
 'Unreal Tournament 3 Black' 'Two Worlds Epic Edition' 'Prototype™'
 'The Elder Scrolls III: Morrowind® Game of the Year Edition'
 'Mini Ninjas' 'SpellForce 2 - Anniversary Edition'
 'SpellForce - Platinum Edition' 'Overlord™'
 'Pirates, Vikings, and Knights II' 'SEGA Mega Drive and Genesis Classics'
 'Serious Sam Classic: The Second Encounter'
 'STAR WARS™: The Force Unleashed™ II' "Oddworld: Stranger's Wrath HD"
 'Two Worlds II HD' 'Dinner Date' 'A.V.A. Alliance of Valiant Arms™'
 'Ancients of Ooga' 'Sonic Generations Collection'
 'Fractal: Make Blooms Not War' 'Titan Attacks!' 'Postal III'
 'Realm of the Mad God' 'Rayman® Origins' 'Splice' 'Vindictus'
 'Tribes: Ascend' 'Command & Conquer: Red Alert 3' 'Bionic Commando'
 'Command & Conquer 3: Tiberium Wars' 'RIFT' 'Dungeon Siege III'
 'ARMA: Cold War Assault' 'Star Trek Online' 'Dungeons & Dragons Online®'
 'Quantum Conundrum' 'Gumboy - Crazy Adventures™' 'FlatOut'
 'Vigil: Blood Bitterness™' 'Multiwinia' "Darkest Hour: Europe '44-'45"
 'Crash Time 2' 'Medal of Honor: Airborne' 'Avencast: Rise of the Mage'
 'Ziro' 'Grand Theft Auto: Vice City' 'The Sims™ 3' 'Champions Online'
 'Saints Row: The Third Initiation Station'
 'The Lord of the Rings Online™' 'Dead Space' 'Hammerfight'
 'Overlord™: Raising Hell' 'Supreme Commander' 'Fable - The Lost Chapters'
 'Fowl Space' 'LEGO® Batman 2 DC Super Heroes™' 'Carmageddon Max Pack'
 'RIP - Trilogy™' 'Master Levels for Doom II' 'Wolfenstein 3D'
 'Spear of Destiny' 'Escape Rosecliff Island'
 'Thrillville®: Off the Rails™' 'LEGO® Star Wars™ - The Complete Saga'
 'TriJinx: A Kristine Kross Mystery™' 'Arma 2: British Armed Forces'
 'Lost Planet® 2' 'Majesty 2 Collection' 'FlatOut 2™'
 "Tom Clancy's Splinter Cell®" 'Alien Breed: Impact' 'Victoria II'
 'Test Drive Unlimited 2' 'Fate of the World'
 'Hard Reset Extended Edition' 'Sengoku'
 'Galactic Civilizations® II: Ultimate Edition' 'Cubemen'
 'Ridge Racer™ Unbounded' 'Manhunt' 'Max Payne 2: The Fall of Max Payne'
 'Rush for Berlin Gold' 'Men of War: Red Tide'
 "Command & Conquer 3: Kane's Wrath" 'Iron Grip: Warlord'
 'SimCity™ 4 Deluxe Edition' 'Ship Simulator Extremes'
 'Might & Magic: Heroes VI' 'Gratuitous Tank Battles' 'Fortix'
 'Flight of the Icarus' 'EDGE' 'Snuggle Truck' 'Obulis' 'Patrician III'
 'Puzzle Pirates' 'Devil May Cry® 3 Special Edition' 'BC Kings'
 'Time Gentlemen, Please! and Ben There, Dan That! Special Edition  Double Pack'
 'Supreme Commander: Forged Alliance'
 'Earth Defense Force: Insect Armageddon' 'IL-2 Sturmovik: 1946'
 'Age of Booty™' 'The Guild II Renaissance' 'Star Ruler' 'APOX'
 "Hamilton's Great Adventure" 'Hacker Evolution Duality' 'PixelJunk™ Eden'
 'Foreign Legion: Multi Massacre' 'Tomb Raider: Legend'
 'Making History II: The War of the World' 'The Ball' 'Wasteland Angel'
 'Fortune Summoners' 'iBomber Defense Pacific'
 "Jane's Advanced Strike Fighters" 'Warp' 'Pacific Storm Allies'
 'Brothers in Arms: Earned in Blood™' 'Men of War: Vietnam'
 'Air Conflicts: Secret Wars' 'Rome: Total War™ - Alexander'
 'Grand Theft Auto' 'Fallout Tactics: Brotherhood of Steel'
 'Heroes of Might & Magic V: Tribes of the East'
 'IL-2 Sturmovik: Cliffs of Dover' 'Ghost Master®' 'X-COM: Apocalypse'
 'Aces of the Galaxy™' "Oddworld: Munch's Oddysee"
 'Tomb Raider: Anniversary' 'The Maw' 'Farm Frenzy'
 'DinerTown Detective Agency™' 'Freedom Force vs. the Third Reich'
 'Freedom Force' 'TimeShift™' 'Sacrifice'
 'Darkest Hour: A Hearts of Iron Game' 'SkyDrift' 'Mare Nostrum'
 'Penumbra Overture' 'Need for Speed: Shift' 'Wings of Prey'
 'A.R.E.S.: Extinction Agenda'
 'STCC The Game 2 – Expansion Pack for RACE 07'
 "Disciples II: Gallean's Return" 'Disciples II: Rise of the Elves'
 'Civilization IV®: Warlords' 'X-COM: Terror From the Deep'
 'QUAKE Mission Pack 1: Scourge of Armagon'
 'QUAKE Mission Pack 2: Dissolution of Eternity'
 'PuzzleQuest: Challenge of the Warlords' 'Harvest: Massive Encounter'
 'Fantasy Wars' "King's Bounty: Crossworlds"
 'Flatout 3: Chaos & Destruction' 'Oil Rush'
 'King Arthur II: The Role-Playing Wargame' 'Vessel' 'Wizorb'
 'Dead Hungry Diner' 'Ys Origin' 'Krater' 'X: Tension' 'Age of Wonders'
 "Broken Sword: Director's Cut" 'RISK™: Factions' 'Dr. Daisy Pet Vet'
 'Hot Dish' 'Hunting Unlimited 2010' "The Kings' Crusade"
 'Hunted: The Demon’s Forge™' 'Confrontation' 'Helldorado'
 'Call of Cthulhu®: Dark Corners of the Earth'
 'LEGO® Indiana Jones™ 2: The Adventure Continues'
 "Tom Clancy's Rainbow Six® Vegas" 'Windosill' 'Analogue: A Hate Story'
 'X-Blades' 'Puzzle Quest 2' 'Death to Spies' 'Unreal 2: The Awakening'
 'Kingpin — Life of Crime' 'Midnight Club 2' "Who's That Flying?!"
 'Tropico Reloaded' 'Prison Tycoon 3™: Lockdown'
 'The Settlers®: Rise Of An Empire Gold Edition'
 'Death Track®: Resurrection'
 'Disciples III - Renaissance Steam Special Edition'
 'Alien Breed 2: Assault' 'The Cat and the Coup' 'The Baconing'
 'Divine Divinity' 'Silent Hunter® III' 'X-COM: Interceptor'
 'Hack, Slash, Loot' 'Act of War: High Treason' "Flora's Fruit Farm"
 'Arx Fatalis' "The Bard's Tale" 'Runespell: Overture'
 'Two Worlds II Castle Defense' 'Disciples III - Resurrection'
 'ArcaniA: Fall of Setarrif' 'Genesis Rising' 'ARMA: Combat Operations'
 'Knights of Honor' 'Real Warfare 1242' 'Victoria I Complete' 'Clutch'
 'Astro Tripper' 'Starpoint Gemini'
 'Heroes of Might & Magic V: Hammers of Fate' 'The Longest Journey'
 'Codename: Panzers - Cold War' 'Tales of Monkey Island Complete Pack'
 'Blackwell Unbound' 'The Dark Eye: Chains of Satinav'
 "Tom Clancy's Rainbow Six® 3 Gold" 'X: Beyond the Frontier'
 'Woody Two-Legs: Attack of the Zombie Pirates' 'Tank Universal'
 'Space Trader: Merchant Marine' 'Rise of the Argonauts' 'Larva Mortus'
 'Roogoo' 'UFO: Extraterrestrials Gold' 'NecroVisioN: Lost Company'
 'Dark Void™ Zero' 'Razor2: Hidden Skies' 'Armada 2526' 'Still Life'
 'Hegemony Gold: Wars of Ancient Greece'
 "Age of Wonders II: The Wizard's Throne" 'Age of Wonders Shadow Magic'
 'Imagine Earth' 'Yesterday'
 'Tales of Monkey Island Complete Pack: Chapter 2 - The Siege of Spinner Cay'
 'Tales of Monkey Island Complete Pack: Chapter 3 - Lair of the Leviathan'
 'Tales of Monkey Island Complete Pack: Chapter 4 - The Trial and Execution of Guybrush Threepwood'
 'Cossacks: Back to War' 'Advent Rising' 'Dreamfall: The Longest Journey'
 'BloodRayne' 'Ninja Reflex: Steamworks Edition' 'Xpand Rally Xtreme'
 'Mayhem Intergalactic' 'Blueberry Garden' 'Port Royale 2'
 'Joint Operations: Combined Arms Gold' 'Yumsters 2: Around the World'
 'Coniclysm' 'Biozone' 'Rocket Knight' 'Puzzler World'
 'Governor of Poker 2' 'Vegas: Make It Big™' 'Luxor' 'Luxor 3' 'Luxor 2'
 'Hinterland' 'Space Giraffe' 'BRAINPIPE: A Plunge to Unhumanity'
 'Max and the Magic Marker' 'Doc Clock: The Toasted Sandwich of Time'
 'Nimbus' 'Clones' 'Drawn®: The Painted Tower'
 'Kaptain Brawe: A Brawe New World' 'Luxor: 5th Passage'
 'B.U.T.T.O.N. (Brutally Unfair Tactics Totally OK Now)' 'Still Life 2'
 "Memoir '44 Online" 'Airline Tycoon 2' 'SATAZIUS' 'Pineapple Smash Crew'
 '1000 Amps' 'Luxor Evolved' 'Containment: The Zombie Puzzler'
 'Defenders of Ardania' 'Ys: The Oath in Felghana'
 'Mutant Storm: Reloaded' 'Scary Girl' 'Ticket to Ride'
 'Governor of Poker 2 - Premium Edition' 'Gravitron 2'
 'XIII Century – Gold Edition' 'Act of War: Direct Action'
 'Bionic Commando: Rearmed' 'Patrician IV - Steam Special Edition'
 'Armed and Dangerous®' 'Off-Road Drive' 'Puzzler World 2'
 'Virtual Villagers - The Secret City' 'World of Zoo'
 "Desperados 2: Cooper's Revenge" 'Ankh 2: Heart of Osiris'
 'LEGO® Indiana Jones™: The Original Adventures'
 'East India Company: Privateer' 'Warfare' 'Super Laser  Racer'
 'M.U.D. TV' 'AquaNox' 'STCC - The Game 1 - Expansion Pack for RACE 07'
 'RETRO – Expansion Pack for RACE 07' 'Bone: Out From Boneville'
 'Myst: Masterpiece Edition' 'Ceville' "Eternity's Child" 'The Graveyard'
 'Magnetis' 'Build-A-Lot' 'Trino' 'Alien Shooter 2 Conscription' 'Aztaka'
 "Tobe's Vertical Adventure" 'Puzzle Bots'
 'Patrician IV: Rise of a Dynasty' 'Dracula Origin' 'CivCity: Rome'
 'Swarm Arena' '3SwitcheD' "King's Quest™ Collection"
 'Rayman Raving Rabbids™' 'Fish Fillets 2' 'RACE - The WTCC Game'
 'Sprint Cars Road to Knoxville' 'Painkiller: Resurrection'
 'Watchmen: The End is Nigh' 'Dungeons and Dragons: Daggerdale'
 'Space Quest™ Collection' 'Silent Hunter®: Wolves of the Pacific'
 'Silent Hunter®: Wolves of the Pacific U-Boat Missions'
 'Indiana Jones® and the Fate of Atlantis™'
 'Indiana Jones® and the Last Crusade™' 'Bumbledore'
 'Trainz: Classic Cabon City' 'Watchmen: The End is Nigh Part 2'
 'Ironclads: Anglo Russian War 1866' 'Arcadia'
 '18 Wheels of Steel: American Long Haul' 'Nancy Drew®: The Captive Curse'
 "Nancy Drew®: Shadow at the Water's Edge" 'Ride! Carnival Tycoon'
 'Vancouver 2010™ - The Official Video Game of the Olympic Winter Games'
 'Shadow Harvest: Phantom Ops' 'Build-A-Lot 2: Town of the Year'
 'Painkiller: Recurring Evil' 'Archon Classic'
 'Midnight Outlaw: 6 Hours to SunUp' 'Mahjong Quest Collection'
 'Build-A-Lot 3: Passport to Europe' 'Build-A-Lot 4: Power Source'
 '18 Wheels of Steel: Extreme Trucker' 'Zeit²' 'Pound of Ground'
 'Gemini Lost™' 'Mahjong Roadshow™' 'Hunting Unlimited™ 2008'
 'Sherlock Holmes - Nemesis' 'Mystery P.I. - Lost in Los Angeles' 'Myst V'
 'Pat & Mat' 'Conflict: Denied Ops' 'Dimensity' 'City Life 2008' 'Pickers'
 'Railroad Tycoon II Platinum' 'For The Glory: A Europa Universalis Game'
 'Mystery Case Files: Madame Fate®' 'Midnight Mysteries'
 'YOU DON’T KNOW JACK®' 'AquaNox 2: Revelation'
 'Mystery P.I.™ - The Vegas Heist' 'Light of Altair' 'Drakensang'
 'Drakensang: The River of Time' 'Secret Files: Tunguska' '7 Wonders II'
 'Nancy Drew®: Secrets Can Kill REMASTERED'
 'Nancy Drew®: Trail of the Twister' 'Culpa Innata'
 'Secret Files 2: Puritas Cordis' 'Alternativa' 'The Clockwork Man'
 'Midnight Mysteries 3: Devil on the Mississippi'
 'Midnight Mysteries 4: Haunted Houdini' 'Virtual Families'
 'Jewel Quest Pack' 'Nancy Drew® Dossier: Resorting to Danger!'
 'The Nightshift Code™' 'Bone: The Great Cow Race'
 'Cake Mania Main Street™' 'Tycoon City: New York' 'Luxor Amun Rising'
 'Ironclads: Schleswig War 1864'
 'Nancy Drew®: Legend of the Crystal Skull' 'Reaxxion' 'Fluttabyes'
 'Space Ark' 'Petz® Horsez® 2' 'Hidden Expedition: Amazon'
 'Nancy Drew®: The Creature of Kapu Cave'
 'Nancy Drew®: The White Wolf of Icicle Creek'
 'Nancy Drew®: Ransom of the Seven Ships' 'Farm Frenzy 2'
 'DinerTown Tycoon'
 "Mishap 2: An Intentional Haunting - Collector's Edition"
 'Nancy Drew®: The Phantom of Venice' 'Farm Frenzy: Pizza Party'
 'Zen of Sudoku' 'Massive Assault: Phantom Renaissance' 'Cradle of Persia'
 'Hidden Expedition: Titanic' "Nightshift Legacy: The Jaguar's Eye™"
 'Galactic Bowling' 'Armored Fist 3' 'MiG-29 Fulcrum' 'Massive Assault'
 'Nancy Drew®: Alibi in Ashes' 'Mahjongg Investigations: Under Suspicion'
 'Farm Frenzy 3' 'Ironclads: Chincha Islands War 1866'
 'Hotel Dash™ Suite Success™' 'Coconut Queen' 'Westward® IV: All Aboard'
 'The Sum of All Fears' 'Samantha Swift and the Golden Touch'
 'Farm Frenzy 3: American Pie' 'Fitness Dash™']

Release_date:
<DatetimeArray>
['1998-11-08 00:00:00', '2006-07-11 00:00:00', '2006-09-29 00:00:00',
 '2006-11-20 00:00:00', '2006-11-29 00:00:00', '2007-06-26 00:00:00',
 '2003-10-23 00:00:00', '2006-10-16 00:00:00', '1996-06-17 00:00:00',
 '1995-04-30 00:00:00',
 ...

In [99]:
# Se guarda el archivo ya transformado a un formato csv
ruta_guardado_csv = "../Datacsv/items_games_.csv"
items_game1.to_csv(ruta_guardado_csv, index=False, date_format='%Y-%m-%d')

In [100]:
# Se va unir los dataframes de Stems_games y user_reviews
# Cargar los datos en fragmentos
chunksize = 1000  # Tamaño del fragmento
data1_chunks = pd.read_csv("../Datacsv/steam_games_eda.csv", chunksize=chunksize)
data2_chunks = pd.read_csv("../Datacsv/user_review_eda.csv", chunksize=chunksize)

In [101]:
def incremental_merge(data1_chunks, data2_chunks, on_column):
    for chunk1 in data1_chunks:
        for chunk2 in data2_chunks:
            yield pd.merge(chunk1, chunk2, on=on_column)

# Especificar la columna para la unión
on_column = 'Id'  # Cambia esto por el nombre de la columna que deseas usar para unir los DataFrames

# Unir los datos incrementalmente
merged_chunks = list(incremental_merge(data1_chunks, data2_chunks, on_column))

# Concatenar los resultados
review_game1 = pd.concat(merged_chunks, ignore_index=True)

In [102]:
review_game1

,Id,App_name,Release_date,Genres,User_id,Posted,Recommend,Sentiment_analysis
0,70,Half-Life,1998-11-08,Action,EizanAratoFujimaki,2015-10-28,True,2
1,70,Half-Life,1998-11-08,Action,GamerFag,2011-01-27,True,0
2,70,Half-Life,1998-11-08,Action,76561198020928326,2014-07-01,True,2
3,4000,Garry's Mod,2006-11-29,"Indie, Simulation",WeiEDKrSat,2013-12-25,True,1
4,4000,Garry's Mod,2006-11-29,"Indie, Simulation",death-hunter,2014-02-19,True,2
...,...,...,...,...,...,...,...,...
6270,620,Portal 2,2011-04-18,"Action, Adventure",maddydufall,2015-09-26,True,2
6271,620,Portal 2,2011-04-18,"Action, Adventure",76561198209667851,2015-09-04,True,0
6272,113400,APB Reloaded,2011-12-06,"Action, Free to Play, Massively Multiplayer",TripleQMark,2015-07-26,True,2
6273,212500,The Lord of the Rings Online™,2012-06-06,"Free to Play, Massively Multiplayer, RPG",76561198166194627,2014-12-03,True,2
6274,1840,Source Filmmaker,2012-07-10,"Animation &amp; Modeling, Video Production",ShadowYT100,2016-01-10,True,0

In [103]:
review_game1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6275 entries, 0 to 6274
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  6275 non-null   int64
 1   App_name            6275 non-null   object
 2   Release_date        6275 non-null   object
 3   Genres              6275 non-null   object
 4   User_id             6275 non-null   object
 5   Posted              6275 non-null   object
 6   Recommend           6275 non-null   bool
 7   Sentiment_analysis  6275 non-null   int64
dtypes: bool(1), int64(2), object(5)
memory usage: 349.4+ KB

In [104]:
# Convertimos de formato string a datetime
review_game1['Release_date'] = pd.to_datetime(review_game1['Release_date'], errors='coerce')
review_game1['Posted'] = pd.to_datetime(review_game1['Posted'], errors='coerce')

In [105]:
# Obtener la cantidad de valores nulos en todas las columnas
null_counts = review_game1.isnull().sum()

# Mostrar los resultados
print("Cantidad de valores nulos en cada columna:")
print(null_counts)

Cantidad de valores nulos en cada columna:
Id                    0
App_name              0
Release_date          0
Genres                0
User_id               0
Posted                0
Recommend             0
Sentiment_analysis    0
dtype: int64

In [106]:
# Ver la cantidad de valores únicos
unique_counts = review_game1.nunique()

# Obtener los valores únicos de cada columna
unique_values = {col: review_game1[col].unique() for col in review_game1.columns}

# Mostrar los resultados
print("Cantidad de valores únicos en cada columna:")
print(unique_counts)

print("\nValores únicos de cada columna:")
for col, values in unique_values.items():
    print(f"\n{col}:")
    print(values)

Cantidad de valores únicos en cada columna:
Id                     313
App_name               313
Release_date           286
Genres                  66
User_id               5203
Posted                1493
Recommend                2
Sentiment_analysis       3
dtype: int64

Valores únicos de cada columna:

Id:
[    70   4000   2280  12160  17300  19900   9480  17410  22200  10150
   6060  10180  32430  22370  48700    630  57300   8930  47790  22380
  12100  12120  47780  39120    620  99900  21100  65790 107200  22230
  35450 113200 113400 204030   9900 203770 108710 200210 203750 209100
 204100 212500 212630   1840   7670  17480   2700  20900  13210  32370
  38410  35420  45730  49600  50130  42960  42700  12110   9930  70000
  49470  57690  35720 204180  17080  13250  20510  22340  13570  41800
  48800  70300  24200 207250  15320  19830  16450  25830  24740  29180
  40700  92300  47890   7520  98200 102700  98400  71340  57740  15700
   7760  17470   1930  12470  22320  12220  40930  33980  55370 110800
  10220 207350 212160   2400   2310  22330  10130  50620  35460  71165
  55150   9420  45770 201480 201310 206521  12360  32440  22600  57640
  47800  55100 105700 204340 207080 203830   4570   4580   4760  12500
  17330  21000   7510   1280  32360  41100  22650  63710  23530   2420
  12200  18500  21660  33730  45300  28000  91600  99910  61310   6220
  42120  34010  70100   9010  27020 200910 207490  41000  43500  70400
  38600  61500 108500 200010  12140   7660   7730  17570  63660  95700
  38740 201510 105800 213330  98421   1520   9160  15390  24780 205550
   6550  22000  24840  11450  50510  42000  92700 200230   2300  94000
  72750  48220 209370 206480   7770  16810  36000  31700  42920  32500
  31290  80000   9350  45700  57900 111400 203210 206610  41500   9880
   2820  11240  22180  15750  94590   6210  11390  73020   3800   2990
  13520  10140  62100  63200 202200 282010  24800  24790  24810   6310
  39680 202310 209790  12590  32770  38210  42170   2270   6120  13540
  11260  15710  32330  40330  49800  97000  61100 206690 108200   7600
  38440  73170 115100  37400  12150  19500  63900   9940  62000   7840
 111100  22610   4850   2850  17450 207430  22450   2570  33420   2290
  38420  46770  46350  11330  31860  31930  33670  41060 115110  40390
   3050   9730  11340  12510   8880 207790 102850  24870  39160  63940
  12130  37600  91200  33950  13560  25900  33520  42140  99100  73210
  63700   8000  45750  18040  98300  15200   7000   8310  72760 207420
  41050  45400  55381]

App_name:
['Half-Life' "Garry's Mod" 'Ultimate Doom' 'Midnight Club 2' 'Crysis'
 "Far Cry® 2: Fortune's Edition" 'Saints Row 2' "Mirror's Edge™"
 'Zeno Clash' 'Prototype™' 'Star Wars: Battlefront 2 (Classic, 2005)'
 'Call of Duty®: Modern Warfare® 2'
 'STAR WARS™ - The Force Unleashed™ Ultimate Sith Edition'
 'Fallout 3: Game of the Year Edition' 'Mount & Blade: Warband'
 'Alien Swarm' 'Amnesia: The Dark Descent' "Sid Meier's Civilization® V"
 'Medal of Honor™' 'Fallout: New Vegas' 'Grand Theft Auto III'
 'Grand Theft Auto: San Andreas' 'Dead Space™ 2' 'RIFT' 'Portal 2'
 'Spiral Knights' 'F.E.A.R. 3' 'ARMA: Cold War Assault'
 'Space Pirates and Zombies' 'Rock of Ages'
 'Red Orchestra 2: Heroes of Stalingrad with Rising Storm'
 'The Binding of Isaac' 'APB Reloaded' 'Fable - The Lost Chapters'
 'Star Trek Online' 'Crusader Kings II' 'Alan Wake' 'Realm of the Mad God'
 'Binary Domain' 'Resident Evil: Operation Raccoon City' 'Max Payne 3'
 'The Lord of the Rings Online™'
 "Tom Clancy's Ghost Recon: Future Soldier™" 'Source Filmmaker'
 'BioShock™' 'Command & Conquer: Red Alert 3'
 'RollerCoaster Tycoon® 3: Platinum'
 "The Witcher: Enhanced Edition Director's Cut"
 'Unreal Tournament 3 Black' 'STAR WARS™ - Knights of the Old Republic™'
 'Fallout 2: A Post Nuclear Role Playing Game' 'Defence Alliance 2'
 'Dark Void™ Zero' 'Beat Hazard' 'Mafia II' 'Victoria II'
 'Call of Duty®: Black Ops' 'Grand Theft Auto: Vice City'
 'Test Drive Unlimited 2' 'Dino D-Day'
 'Magic: The Gathering - Duels of the Planeswalkers 2012' 'Tropico 4'
 'Trine 2: Complete Story' 'Waveform' 'Tribes: Ascend' 'Unreal Gold'
 'S.T.A.L.K.E.R.: Clear Sky' 'Call of Cthulhu®: Dark Corners of the Earth'
 "Tom Clancy's Splinter Cell Chaos Theory®" 'Gratuitous Space Battles'
 'Ship Simulator Extremes' 'VVVVVV' 'DC Universe™ Online' 'Cubemen'
 'IL-2 Sturmovik: 1946' "Tom Clancy's Rainbow Six® 3 Gold"
 'F.E.A.R. 2: Project Origin' 'Knights of Honor'
 'Burnout Paradise: The Ultimate Box' 'Osmos' 'Machinarium'
 'A.R.E.S.: Extinction Agenda' 'The Sims™ 3' 'Two Worlds II HD'
 'Frozen Synapse' 'A.V.A. Alliance of Valiant Arms™'
 'Hard Reset Extended Edition' 'Sonic Generations Collection'
 'Jagged Alliance - Back in Action' "Oddworld: Abe's Oddysee®"
 'X-COM: UFO Defense' 'Dead Space' 'Two Worlds Epic Edition'
 'Port Royale 2'
 'The Elder Scrolls III: Morrowind® Game of the Year Edition'
 'Grand Theft Auto: Episodes from Liberty City'
 'The Misadventures of P.B. Winterbottom' 'Pound of Ground'
 'Saints Row: The Third Initiation Station' 'L.A. Noire' 'Postal III'
 'Ys Origin' 'Vindictus' 'The Ship: Murder Party' 'QUAKE'
 'The Elder Scrolls IV: Oblivion® Game of the Year Edition' 'TimeShift™'
 'Darksiders™' 'The Ball' 'Streets of Rage 2'
 'Warhammer 40,000: Space Marine' 'Supreme Commander: Forged Alliance'
 'Dead Rising 2: Off the Record' 'Serious Sam: The Random Encounter'
 'X3: Albion Prelude' 'Spiral Knights: Operation Crimson Hammer'
 'FlatOut: Ultimate Carnage' 'LEGO® Star Wars™ - The Complete Saga'
 'Worms Reloaded' "Broken Sword: Director's Cut" 'RISK™: Factions'
 'Homefront' "Tobe's Vertical Adventure" 'Serious Sam 2'
 'Indie Game: The Movie' 'The Dark Eye: Chains of Satinav'
 'Warhammer® 40,000: Dawn of War® - Game of the Year Edition'
 'Warhammer® 40,000: Dawn of War® - Dark Crusade'
 'Rome: Total War™ - Collection' 'PuzzleQuest: Challenge of the Warlords'
 'Crysis Warhead®' 'LEGO Batman' 'X-Blades' "Darkest Hour: Europe '44-'45"
 'The Secret of Monkey Island: Special Edition' 'Hammerfight'
 'Alien Breed 2: Assault' 'BIT.TRIP RUNNER'
 'Earth Defense Force: Insect Armageddon' 'The Ship: Single Player'
 'Bully: Scholarship Edition' 'Defense Grid: The Awakening'
 'Street Fighter® IV' '18 Wheels of Steel: Extreme Trucker'
 'Wings of Prey' 'Kane & Lynch 2: Dog Days' 'Sanctum' 'Puzzle Pirates'
 'Fractal: Make Blooms Not War' 'FlatOut'
 'Lead and Gold: Gangs of the Wild West' 'Alpha Protocol™'
 'Hacker Evolution' 'Return to Castle Wolfenstein' 'The Graveyard'
 'Before the Echo' 'Rayman® Origins' 'Serious Sam HD: The First Encounter'
 'M.U.D. TV' "Recettear: An Item Shop's Tale" 'Faerie Solitaire'
 'Age of Wonders' 'Vessel' 'Quantum Conundrum' 'Max Payne'
 'X-COM: Apocalypse' 'X-COM: Interceptor'
 'Pirates, Vikings, and Knights II' 'Myst: Masterpiece Edition'
 'The Cat and the Coup' 'EDGE' 'Flatout 3: Chaos & Destruction'
 'PixelJunk™ Eden' 'LEGO® Batman 2 DC Super Heroes™'
 'Hard Reset: Exile DLC' 'DEFCON' 'Master Levels for Doom II'
 "Brothers in Arms: Hell's Highway™" 'SimCity™ 4 Deluxe Edition'
 'Foreign Legion: Multi Massacre' 'Devil May Cry® 3 Special Edition'
 'World of Goo' 'Medal of Honor: Airborne' 'Overlord™' 'Burn Zombie Burn!'
 'Trino' 'Shadow Harvest: Phantom Ops' 'Off-Road Drive' 'DOOM II'
 'Dinner Date' 'Fallout New Vegas: Old World Blues'
 'Might & Magic: Heroes VI' 'Analogue: A Hate Story'
 'Dungeons & Dragons Online®' 'X-COM: Enforcer'
 "Sid Meier's Civilization IV: Colonization"
 'Foreign Legion: Buckets of Blood' 'Iron Grip: Warlord'
 "The Kings' Crusade" 'STAR WARS™: The Force Unleashed™ II'
 'Back to the Future: The Game' 'APOX' 'Supreme Commander'
 'Devil May Cry 4' 'Duke Nukem Forever' 'Bunch of Heroes' 'Titan Attacks!'
 '3SwitcheD' 'Torchlight' 'Champions Online' 'X3: Terran Conflict'
 'Space Trader: Merchant Marine' 'Penumbra Overture'
 "Oddworld: Stranger's Wrath HD" 'Puzzle Agent 2' 'Vegas: Make It Big™'
 'Crash Time 2' 'Majesty 2 Collection' 'Advent Rising' 'FlatOut 2™'
 'Far Cry®' '3D Ultra™ Minigolf Adventures' 'Chime' 'Monday Night Combat'
 'Galactic Civilizations® II: Ultimate Edition' 'Carmageddon Max Pack'
 'Command & Conquer: Red Alert 3 - Uprising'
 'Command & Conquer 3: Tiberium Wars' "Command & Conquer 3: Kane's Wrath"
 'The Longest Journey' 'The Guild II Renaissance' 'Ridge Racer™ Unbounded'
 'Splice' 'Sprint Cars Road to Knoxville'
 'Joint Operations: Combined Arms Gold' 'Roogoo' 'Krater' 'Wolfenstein 3D'
 'Shank' "Tom Clancy's Rainbow Six® Vegas" 'Pacific Storm Allies'
 "Oddworld: Abe's Exoddus®"
 'LEGO® Indiana Jones™: The Original Adventures' 'Secret Files: Tunguska'
 'Flight of the Icarus' 'Solar 2' 'Lucid' 'iBomber Defense Pacific'
 'Ticket to Ride' "Sid Meier's Railroads!" 'Sacrifice'
 'Darkest Hour: A Hearts of Iron Game' 'Costume Quest'
 'Time Gentlemen, Please! and Ben There, Dan That! Special Edition  Double Pack'
 'Max Payne 2: The Fall of Max Payne' "Eternity's Child" 'Fantasy Wars'
 'Blade Kitten' 'Flight Control HD' 'Death Track®: Resurrection'
 'Snuggle Truck' 'Alien Breed: Impact' 'Cossacks: Back to War'
 'X: Tension' 'Dragon Age: Origins' 'Hack, Slash, Loot'
 'Hunted: The Demon’s Forge™' 'Vigil: Blood Bitterness™'
 'Call of Juarez®: The Cartel' 'Final DOOM'
 'Fallout Tactics: Brotherhood of Steel'
 'Making History II: The War of the World' 'Real Warfare 1242' 'Obulis'
 'Nancy Drew®: Legend of the Crystal Skull'
 'Nancy Drew®: The White Wolf of Icicle Creek'
 'Disciples III - Renaissance Steam Special Edition'
 'Serious Sam Classic: The Second Encounter' 'Stacking'
 'Risen 2: Dark Waters' 'Xpand Rally Xtreme' 'Tycoon City: New York'
 'Larva Mortus' 'Prison Tycoon 3™: Lockdown' 'Freedom Force'
 "Jane's Advanced Strike Fighters" 'Warp' 'Need for Speed: Shift'
 'Dungeon Siege III' 'Men of War: Vietnam' 'Manhunt' 'Windosill'
 'Anomaly: Warzone Earth' 'Fish Fillets 2' "Tom Clancy's Splinter Cell®"
 "King's Bounty: The Legend" 'Tropico Reloaded'
 "Hamilton's Great Adventure" 'Dungeons and Dragons: Daggerdale' 'Sengoku'
 'BIT.TRIP BEAT' 'Tomb Raider: Anniversary' 'Lost Planet® 2' 'DeathSpank'
 'Toy Soldiers' 'Silent Hunter®: Wolves of the Pacific'
 'Tomb Raider: Legend' 'Bone: Out From Boneville'
 'Fallout New Vegas®: Lonesome Road™' 'Wizorb'
 'Serious Sam Classic: The First Encounter' 'Fortix'
 'Saints Row: The Third - Gangstas in Space']

Release_date:
<DatetimeArray>
['1998-11-08 00:00:00', '2006-11-29 00:00:00', '1995-04-30 00:00:00',
 '2003-07-01 00:00:00', '2007-11-13 00:00:00', '2008-10-22 00:00:00',
 '2009-01-28 00:00:00', '2009-01-13 00:00:00', '2009-04-21 00:00:00',
 '2009-06-10 00:00:00',
 ...
 '2007-06-05 00:00:00', '2010-10-15 00:00:00', '2007-03-20 00:00:00',
 '2006-04-07 00:00:00', '2005-09-15 00:00:00', '2011-09-20 00:00:00',
 '2012-03-14 00:00:00', '2001-03-21 00:00:00', '2010-04-14 00:00:00',
 '2012-02-21 00:00:00']
Length: 286, dtype: datetime64[ns]

Genres:
['Action' 'Indie, Simulation' 'Racing' 'Action, Adventure' 'Action, Indie'
 'RPG' 'Action, RPG' 'Action, Adventure, Indie' 'Strategy'
 'Free to Play, Massively Multiplayer, RPG'
 'Action, Adventure, Free to Play, Indie, Massively Multiplayer, RPG'
 'Action, Simulation, Strategy' 'Action, Indie, RPG, Strategy'
 'Action, Indie, Racing, Strategy'
 'Action, Massively Multiplayer, Simulation'
 'Action, Adventure, Indie, RPG'
 'Action, Free to Play, Massively Multiplayer' 'Action, Adventure, RPG'
 'RPG, Simulation, Strategy'
 'Action, Free to Play, Indie, Massively Multiplayer, RPG'
 'Animation &amp; Modeling, Video Production' 'Simulation, Strategy'
 'Adventure, RPG' 'Action, Casual, Indie' 'Adventure, Indie, Strategy'
 'Action, Free to Play'
 'Horror, Lovecraftian, Survival Horror, First-Person, Based On A Novel, FPS, Adventure, Atmospheric, Stealth, Singleplayer, Story Rich, Action, Classic, Survival, Shooter, Difficult, Gore, Dark'
 'Indie, Simulation, Strategy' 'Simulation'
 'Action, Adventure, Free to Play, Massively Multiplayer, RPG'
 'Indie, Strategy' 'Indie, Casual' 'Adventure, Indie' 'Adventure'
 'Adventure, Strategy' 'Action, Indie, RPG' 'Action, Simulation' 'Indie'
 'Casual' 'Action, Casual, Indie, Strategy'
 'Adventure, Casual, Free to Play, Massively Multiplayer, Strategy'
 'Indie, RPG' 'RPG, Indie' 'Casual, Indie' 'RPG, Strategy'
 'Action, Indie, Strategy' 'Casual, Strategy'
 'Action, Free to Play, Indie' 'Adventure, Casual' 'Action, Indie, Casual'
 'Racing, Simulation' 'Action, Adventure, Strategy' 'Action, Racing'
 'Sports' 'Action, Strategy, Indie, Sports' 'Action, Indie, Racing'
 'Action, Adventure, Indie, RPG, Strategy' 'Casual, Indie, Strategy'
 'Strategy, RTS, Fantasy, Classic, Third Person, Surreal, Real-Time, RPG, Action, Singleplayer, Magic, Multiplayer'
 'Adventure, Casual, RPG' 'Action, Casual' 'Casual, Indie, Racing'
 'Casual, Indie, RPG' 'Strategy, RPG' 'Adventure, Casual, Indie'
 'Action, Casual, Simulation, Strategy']

User_id:
['EizanAratoFujimaki' 'GamerFag' '76561198020928326' ... 'maddydufall'
 '76561198209667851' '76561198166194627']

Posted:
<DatetimeArray>
['2015-10-28 00:00:00', '2011-01-27 00:00:00', '2014-07-01 00:00:00',
 '2013-12-25 00:00:00', '2014-02-19 00:00:00', '2016-05-16 00:00:00',
 '2014-05-29 00:00:00', '2016-07-30 00:00:00', '2014-03-28 00:00:00',
 '2014-02-16 00:00:00',
 ...
 '2015-11-23 00:00:00', '2013-09-01 00:00:00', '2015-07-11 00:00:00',
 '2016-07-19 00:00:00', '2015-09-11 00:00:00', '2015-12-07 00:00:00',
 '2015-11-22 00:00:00', '2015-08-20 00:00:00', '2016-04-29 00:00:00',
 '2016-08-25 00:00:00']
Length: 1493, dtype: datetime64[ns]

Recommend:
[ True False]

Sentiment_analysis:
[2 0 1]

In [107]:
# Se guarda el archivo ya transformado a un formato csv
ruta_guardado_csv = "../Datacsv/review_games_.csv"
review_game1.to_csv(ruta_guardado_csv, index=False, date_format='%Y-%m-%d')